<meta charset="utf-8" />
<title>Yönetim Paneli | Ordinatrum</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Ordinatrum" />
<meta name="keywords" content="Ordinatrum" />
<meta name="author" content="Ordinatrum" />


<link rel="shortcut icon" href="~/logoimage/logoicon.png">
<link href="~/DataTables/datatables.min.css" rel="stylesheet">
<!-- Bootstrap Css -->
<link href="~/WebAdmin/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<!-- Icons Css -->
<link href="~/WebAdmin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<!-- App Css-->
<link href="~/WebAdmin/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="~/formselect2/select2.min.css" rel="stylesheet" />