@model UserProfileDropdownDto

<button type="button" class="btn header-item user text-start d-flex align-items-center" id="page-header-user-dropdown-v" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @if (Model.ImageUrl == null)
    {
        <img class="rounded-circle header-profile-user" src="/uploaduserimages/defaultimage.png" alt="Profil">
    }
    else
    {
        <img class="rounded-circle header-profile-user" src="~/uploaduserimages/@Model.ImageUrl" alt="Profil">
    }

    <span class="d-none d-xl-inline-block ms-2 fw-medium font-size-15">@Model.NameSurname</span>
</button>
<div class="dropdown-menu dropdown-menu-end pt-0">
    <div class="p-3 border-bottom">
        <h6 class="mb-0">@Model.NameSurname</h6>
        <p class="mb-0 font-size-11 text-muted">@Model.Email</p>
    </div>
    <a class="dropdown-item" href="/UserManagement/UserProfil"><i class="mdi mdi-account-circle text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Profil</span></a>
    <a class="dropdown-item" href="/Account/ChangePassword"><i class="mdi mdi-lock-reset text-muted font-size-16 align-middle me-2"></i><span class="align-middle">Şifre Değiştir</span>
    </a>
@*     <a class="dropdown-item" href="apps-chat.html"><i class="mdi mdi-message-text-outline text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Mesajlar</span></a>
    <a class="dropdown-item" href="pages-faqs.html"><i class="mdi mdi-lifebuoy text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Yardım</span></a>
    <a class="dropdown-item d-flex align-items-center" href="#"><i class="mdi mdi-cog-outline text-muted font-size-16 align-middle me-2"></i> <span class="align-middle me-3">Ayarlar</span><span class="badge bg-success-subtle text-success  ms-auto">New</span></a> *@
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="/Auth/Logout"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-2"></i> <span class="align-middle">Çıkış Yap</span></a>
</div>